<div class="row-fluid">
  <div class="span12">
    <h4>รูปแบบการนำเสนอ</h4>
    <ul class="unstyled">
      <li ng-repeat="t in type">
       <h5>{{t.name}} - {{t.total}}</h5>
       <ul>
         <li ng-repeat="sector in t.sectors">
           {{sector.name}} - {{sector.count}}
           <ul>
             <li ng-repeat="major in sector.majors">
               {{major.name}} - {{major.count}} 
                <span ng-repeat="entry in major.entry_list">
                <a href="#/entry/info/{{entry._id}}">
                {{entry.paper_id}}
                </a>
                </span>
                
              
             </li>
           </ul>
         </li>
       </ul>
      </li>
    </ul>
      
    <div class="row-fluid">
      <div class="span2">
      </div>
    </div>
  </div>
</div>
