<div class="row-fluid">
  <div class="span12" >
    <div class="row-fluid">
      <div class="span3">
        <table>
          <tr ng-repeat="r in room_list">
            <td>{{r.name}}</td>
          </tr>
        </table>
      </div>    
      <div class="span9" >        
         <form class="form-horizontal">             
            <div class="control-group">
              <label class="control-label" for="inputName">ห้องนำเสนอ</label>
              <div class="controls">                
                 <input type="text" ng-model="room.name">
              </div>            
            </div>
            
            <div class="control-group">
              <label class="control-label" for="inputName">เสนอวันที่</label>
              <div class="controls">
              <input type="text" ng-model="room.date" data-date-format="dd/mm/yyyy" bs-datepicker>
                <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                
              </div>            
            </div>
                        
            <div class="control-group">
              <label class="control-label" for="inputName">เวลาเริ่มต้น </label> 
              <div class="controls">                  
                <input type="text" ng-model="room.start_time">
              </div>
            </div>  

            <div class="control-group">
              <label class="control-label" for="inputName">เวลาสิ้นสุด </label> 
              <div class="controls">                  
                <input type="text" ng-model="room.end_time">
              </div>
            </div>  

          </form>
      </div>
    </div>    
  </div>
</div>



