
<div class="row-fluid">
  <div class="span12" >
    <div class="row-fluid">
      <div class="span4"> 
        <div class="row-fluid">
          <div class="span12">                                
            <form class="well">
              <label>ห้องนำเสนอ</label>
              <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Select Room
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="" ng-click="create()">Create New Room</a></li>
                  <li ng-repeat="r in room_list">
                    <a href="" ng-click="select_room(r)">{{r.name}}</a>
                  </li>
                </ul>
              </div>
              <label>ชื่อห้อง</label>
              <input type="text" ng-model="room.name">
              <label>เสนอวันที่</label>
              <div class="input-append">
                <input type="text" ng-model="room.date" class="input-small"
                  data-date-format="dd/mm/yyyy" bs-datepicker>
                <button type="button" class="btn" data-toggle="datepicker">
                  <i class="icon-calendar"></i>
                </button>    
              </div>
              <label>เวลาเริ่มต้น </label> 
              <input type="text" class="input-small" ng-model="room.start_time">
              <label>เวลาสิ้นสุด </label> 
              <input type="text" class="input-small" ng-model="room.end_time">
              <label>Time Slot</label> 
              <input type="text" class="input-small" ng-model="room.time_slot">
              <br>
              <button type="submit" class="btn" ng-click="save()">Save</button>
              <button type="submit" class="btn" ng-click="delete()">Delete</button>
            </form>
          </div>
        </div>
      </div>  
      
      <div class="span8">
        <ul>
          <li ng-repeat="paper in room.paper_list">
            {{paper.start}} - {{paper.end}} : {{paper.title}} 
            <a href="" ng-click="remove_paper(paper)">
              <i class="icon-remove"></i>
            </a>
           
          </li>
        </ul>
        <table class="table table-hover">
          <tr>
            <th></th>
            <th>ลำดับ</th>
            <th>ชื่อเรื่อง</th>
          </tr>
          <tr style="cursor:pointer"
            ng-repeat="entry in entry_list|orderBy:'paper_id':reverse" ng-hide="entry.selected">                
            <td><input type="checkbox" ng-model="entry.selected" ng-click="add_paper(entry)"></td>
            <td>{{entry.paper_id}}</td>
            <td>
              <strong>{{entry.type}}</strong>
              {{entry.sector}}: {{entry.major}}
              <br>
                {{entry.title}} <br>
            <span class="label label-success" ng-hide="entry.status_paper=='ยังไม่ระบุ' || !entry.status_paper">{{entry.status_paper}}</span>
            </td>   
          </tr>        
        </table>
      </div>
      
    </div>    
  </div>
</div>



