<style>
  .fileinput-button {
    position: relative;
    overflow: hidden;
    float: left;    
  }
    
  .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
  }
  
  .remove-true {
    text-decoration: line-through;
    color: grey;
  }
</style>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" > 
      <div class="form-actions input-append">    
        <span class="pull-left " ng-show="user.user">  
          <href=""  class="btn" ng-click="edit_entry()"> 
            <i class="icon-edit"></i> Edit
          </a>  
        </span>  
        <span class="pull-right">
          
          <form class="form-inline pull-left"  
             id="file_upload_form" 
             method="post" enctype="multipart/form-data" 
             action="file/upload" 
             target="upload_target" class="form-horizontal"  >  
            <input type="hidden" name="entry"  value="{{entry._id}}" ng-model="entry">                
            <div class="btn-group">
              
              <button class="btn btn-success fileinput-button">
                <i class="icon-plus icon-white"></i>     
                Select File     
                <input type="file" name="file" id="file" onchange="angular.element(this).scope().setFile(this)"/ >          
              </button>    
  
              <button type="btn" class="btn btn-primary start" ng-disabled="!theFile">
                <i class="icon-upload icon-white"></i>          
                Upload
              </button>    
            </div>                           
          </form>     
        </span>            
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span8">
          {{entry.author}}
          <dl class="dl-horizontal">
            <dt>ห้องนำเสนอ </dt>
            <dd>{{entry.room}}&nbsp;</dd>
            <dt>วันที่นำเสนอ </dt>
            <dd>{{entry.entry_date}}&nbsp;</dd>
            <dt>เวลาที่นำเสนอ  </dt>
            <dd>{{entry.entry_time}}&nbsp;</dd>
            <dt>สาขาวิชาของผู้วิจัย</dt>
            <dd>{{entry.major}}&nbsp;</dd>
            <dt>กลุ่มสาขาวิชา</dt>
            <dd>{{entry.sector}}&nbsp;</dd>
            <dt>ประเภทการนำเสนอ</dt>
            <dd>{{entry.type}}&nbsp;</dd>
            <dt>สถานะการแก้ไข</dt>
            <dd>{{entry.status_paper}}&nbsp;</dd>
          </dl>
        </div>
        <div class="span4">
          <span ng-show="theFile">
            <span class="label label-success">Select </span>
            <strong>{{theFile.name}}</strong> <i class="icon-file"></i>
            (คลิกปุ่ม Upload) 
            <span ng-switch on="success">
              <span ng-switch-when="false">
                <i class="icon-info-sign"></i>
                There are error of uploading file.
              </span>          
            </span>  
          </span>
          <ul class="well unstyled" ng-hide="file_list.length==0">
            <li ng-repeat="file in file_list">
              <a href="file/{{file._id}}" target="_blank">
                 <i class="icon-file"></i> {{file.filename}}
              </a>
              <a href="" target="_blank" ng-click="del(file._id)"> 
                 <i class="icon-remove"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<iframe id="upload_target" 
   name="upload_target" 
   style="width:0;height:0;border:0px solid #fff;"> 
</iframe>
